<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BulkCount" value="500000"/>
    <add key="AVMTable" value="CRR_AVM3"/>
    <add key="ZipFolder" value="zip/"/>
    <add key="ExtractFolder" value="extract/"/>
    <add key="SplitFolder" value="split/"/>
    <add key="ChunkSize" value="30000000"/>
    <add key="FtpHost" value="files.attomdata.com"/>
    <add key="FtpUser" value="Countyrecordsresearch"/>
    <add key="FtpPassword" value="County55"/>
    <add key="FtpFolder" value="/Outgoing/"/>
    <add key="FTPUploadHost" value="72.32.60.158"/>
    <add key="FTPUploadUser" value="crrupload"/>
    <add key="FTPUploadPassword" value="@56crr"/>
    <add key="FTPUploadErrorsFolder" value="/toUploadFiles/"/>
    <add key="FTPUploadGoodFolder" value="/toUploadFiles/"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=CIS-S79-TEST\SQLEXPRESS;Initial Catalog=CRR;Persist Security Info=True;User ID=sa;Password=*crradmin123" name="CRRConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.2.0" newVersion="2020.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>